* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

html {
    height: 100%;


}

header {
   
    background-color: white;
    height: 110px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

body { 
   
    background-image: url(../images/background.png);
    margin: 0;
    padding 0;

}




#title {
    float: left;
    background-color:#4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
    padding: 40px;
    margin-left: 215px;
    
    
  


}

#topnav {
    float: right;
    padding: 40px;
    margin-right: 215px;

    
}


#topnav ul {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

#topnav li {
    float: left;
    padding: 10px;
    
}




.pagebody {
    clear: both;
  
    background-color: green;
    margin: 0 auto 0 auto;
    width: 960px;

}

#bodytitle {
    background-color: beige;
    padding: 40px;
    font-size: 200%;
}

p {
    background-color: bisque;
}