* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

html {
    height: 100%;


}

header {
    background-color: blanchedalmond;
    height: 100px;
    width: 960px;
    margin: 0 auto 0 auto;
}

body { 
    background-image: url(../images/background.png);
    margin: 0;
    padding 0;

}




#title {
    background-color:#4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    float: left;
  


}

nav {
   clear: both;
    float: right;
    position: sticky;
    top: 0;
    background-color: brown;

    
}

nav ul 

    {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    
}




.pagebody {
   background-color: green;
    margin: 0 auto 0 auto;
    width: 960px;

}

#bodytitle {
    background-color: beige;
}

p {
    background-color: bisque;
}